.table {
    margin-top: 13px;
    overflow: scroll;
    height:450px ;
    background-color: darkgrey;
    color: black;
}
.table tr {
    display: flex;
    justify-content: space-between;
}
.table td {
    padding: 0.1rem;
}

.table tr:nth-of-type(odd) {
    background-color: whitesmoke;
}